{% extends 'base.html'%} {% import 'macros.html' as macro%} {% block styles%} {{
super() }}
<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" />
{% endblock %} {% block content %}

<div
  class="container"
  style="
    background-color: gainsboro;
    padding: 20px;
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 400px;
  "
>
  <div class="row" style="text-align: center;">
    <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-3" >
      <div class="categories">
      <a
        href="{{url_for('main.interview')}}"
        style="font-family: 'Gluten', cursive; font-size: 20px"
      >
        <br />
        Inteview Pitches
      </a>
      <br />
      <a
        href="{{url_for('main.pick_up_line')}}"
        style="font-family: 'Gluten', cursive; font-size: 20px"
      >
        <br />
        Pick Up Lines
      </a>
      <br />
      <a
        href="{{url_for('main.promotion')}}"
        style="font-family: 'Gluten', cursive; font-size: 20px"
      >
        <br />
        Promotion Pitches
      </a>
      <br />
      <a
        href="{{url_for('main.product')}}"
        style="font-family: 'Gluten', cursive; font-size: 20px"
      >
        <br />
        Product Pitches
      </a>
      <br />

      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" >
      <div class="card-body border border-dark">
        <h1 class="card-title"style="font-size: 40px; font-family: 'Gluten', cursive">60 seconds Pitch</h1>
        <p class="card-text">
          Between you and your Goal is 60 seconds period. Do you believe you can
          make good use of time to achieve whatever goal you wish to achieve.
          Also would you wish to see what other have pitched and how they have
          pitched. CLick the Login Button bellow to Proceed.
        </p>
        <p>Welcome.</p>
        <div style="text-align: center">
          <a href="{{url_for('main.new_pitch')}}">
            <br />
            <span>Add a new Pitch</span>
          </a>
        </div>
      </div>
    </div>

    </hr>
        <div class="all-pitches">
            <span style="color:gainsboro;">All pitches are displayed below</span>
                <hr> 
                {{macro.displayPitches(pitches)}}
            

        </div>
        
  </div>
</div>
{% endblock%}
