{% extends 'base.html'%}


{% block content %}
<div class="container-fluid">
  <div class="container ">
    <div class="card-body border border-dark">
    <h1 class="card-title">60 seconds Pitch</h1>
    <p class="card-text">Between you and your Goal is 60 seconds period. Do you believe you can make good use of time to achieve whatever goal you wish to achieve. Also would you wish to see what other have pitched and how they have pitched. CLick the Login Button bellow to Proceed. </p>
    <p>Welcome.</p>
    <a href="/login" class="btn btn-primary">Login</a>
  </div>
</div>
{% endblock%}